<h1>Overview</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roasters</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name"><%= @coffee.name %></td>
      <td data-label="Roasters"><%= @coffee.roasters%></td>
    </tr>
  </tbody>
</table>

<h1>Description</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Country</th>
      <th>Region</th>
      <th>Variety</th>
      <th>Treatment method</th>
      <th>Package quantity</th>
      <th>Brew method</th>
      <th>Flavour profile</th>
      <th>Roast date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Country"><%= @coffee.country %></td>
      <td data-label="Region"><%= @coffee.region %></td>
      <td data-label="Variety"><%= @coffee.treatment_method %></td>

      <td data-label="Treatment method"><%= @coffee.treatment_method %></td>
      <td data-label="Package quantity"><%= @coffee.package_quantity %></td>
      <td data-label="Brew method"><%= @coffee.brew_method %></td>
      <td data-label="Flavour profile"><%= @coffee.flavour_profile %></td>
      <td data-label="Roast date"><%= @coffee.roast_date %></td>
    </tr>
  </tbody>
</table>

<h1>Feedback</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Feedback</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Feedback"><%= @coffee.feedback %>
    </tr>
  </tbody>
</table>

