<h1>Overview</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roasters</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name"><%= @coffee.name %></td>
      <td data-label="Roasters"><%= @coffee.roasters%></td>
    </tr>
  </tbody>
</table>

<h1>Description</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Country</th>
      <th>Region</th>
      <th>Variety</th>
      <th>Treatment method</th>
      <th>Flavour profile</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Country"><%= @coffee.country %></td>
      <td data-label="Region"><%= @coffee.region %></td>
      <td data-label="Variety"><%= @coffee.variety %></td>

      <td data-label="Treatment method"><%= @coffee.treatment_method %></td>
      <td data-label="Flavour profile"><%= @coffee.flavour_profile %></td>
    </tr>
  </tbody>
</table>

<h1>Recipes</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Brew method</th>
      <th>Raost date</th>
      <th>Feedback</th>
    </tr>
  </thead>
  <tbody>
    <% @coffee.recipes.each do |recipe| %>
      <tr>
        <td data-label="Brew method"><%= recipe.brew_method %></td>
        <td data-label="Roast date"><%= recipe.roast_date %></td>
        <td data-label="Feedback"><%= recipe.feedback %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button>
  <%= link_to "Delete", coffee_path(@coffee), method: :delete %>
</button>


<%= link_to "Add a recipe", new_coffee_recipe_path(@coffee) %>
